{% extends 'base.html' %}

{% block title %}Créer un Ticket{% endblock %}

{% block content %}
<h1 class="mb-4">Créer un Ticket</h1>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="title" class="form-label">Titre</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" class="form-control" id="image" name="image">
    </div>
    <button type="submit" class="btn btn-custom">Créer le Ticket</button>
</form>

{% endblock %}