{% extends 'base.html' %}

{% block title %}Supprimer la critique{% endblock %}

{% block content %}
<div class="main-container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Êtes-vous sûr de vouloir supprimer cette critique ?</h5>
            <p class="card-text">Cette action est irréversible.</p>
            
            <form method="POST">
                {% csrf_token %}
                <div class="text-center">
                    <button type="submit" name="confirm" value="yes" class="btn btn-danger me-3">Oui</button>
                    <button type="submit" name="confirm" value="no" class="btn btn-secondary">Non</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}