{% extends 'base.html' %}

{% block title %}Flux{% endblock %}

{% block content %}
<div class="main-container">
    <div class="btn-custom-group text-center">
        <a href="{% url 'create_ticket' %}" class="btn btn-custom me-2" aria-label="Demander une critique">Demander une critique</a>
        <a href="{% url 'create_review_without_ticket' %}" class="btn btn-custom" aria-label="Créer une critique">Créer une critique</a>
    </div>

    <div class="center-column">
        {% if posts %}
            {% for post in posts %}
                {% if post.type == 'review' %}
                    <div class="card {% if post.object.user == request.user %}{% endif %}">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">
                                    {% if post.object.user == request.user %}
                                        Vous avez publié une critique
                                    {% else %}
                                        {{ post.object.user.username }} a publié une critique
                                    {% endif %}
                                </h5>
                                <small class="text-white">{{ post.object.created_at|date:"H:i, d F Y" }}</small>
                            </div>
                            <p class="card-text">
                                <strong class="review-headline">
                                    <span class="headline-text">{{ post.object.headline }}</span>
                                    <span class="rating-stars" aria-label="Note: {{ post.object.rating }} sur 5">
                                        {% for i in "12345" %}
                                            {% if i|slice:":1" <= post.object.rating|stringformat:"i" %}
                                                <span aria-hidden="true">★</span>
                                            {% else %}
                                                <span aria-hidden="true">☆</span>
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                </strong>
                            </p>
                            <p class="card-text">{{ post.object.comment }}</p>
                            <div class="border p-3 mb-2">
                                <p class="mb-1"><strong>Ticket - {{ post.object.ticket.user.username }}</strong></p>
                                <p class="mb-0"><em>{{ post.object.ticket.title }}</em></p>

                                {% if post.object.ticket.image %}
                                    <img src="{{ post.object.ticket.image.url }}" alt="Image pour {{ post.object.ticket.title }}" class="img-thumbnail mt-2 mb-2" style="max-width: 150px;">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% elif post.type == 'ticket' %}
                    <div class="card {% if post.object.user == request.user %}{% else %}bg-dark text-white{% endif %}">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">
                                    {% if post.object.user == request.user %}
                                        Vous avez demandé une critique
                                    {% else %}
                                        {{ post.object.user.username }} a demandé une critique
                                    {% endif %}
                                </h5>
                                <small class="text-white">{{ post.object.created_at|date:"H:i, d F Y" }}</small>
                            </div>
                            <p class="card-text">{{ post.object.title }}</p>
                            <p class="card-text">{{ post.object.description }}</p>
                            {% if post.object.image %}
                                <img src="{{ post.object.image.url }}" alt="{{ post.object.title }}" class="img-thumbnail mt-2 mb-2" style="max-width: 150px;">
                            {% endif %}
                            
                            {% if post.object.user != request.user and not post.user_has_reviewed %}
                                <div class="text-end">
                                    <a href="{% url 'create_review' post.object.id %}" class="btn btn-custom" aria-label="Сréation de critique">Créer une critique</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="text-center">Aucun post trouvé.</p>
        {% endif %}
    </div>
</div>
{% endblock %}