{% extends 'base.html' %}

{% block title %}Flux{% endblock %}

{% block content %}
<div class="main-container">
    <div class="btn-custom-group text-center">
        <a href="{% url 'create_ticket' %}" class="btn btn-custom me-2" aria-label="Demander une critique">Demander une critique</a>
        <a href="{% url 'create_review_without_ticket' %}" class="btn btn-custom" aria-label="Créer une critique">Créer une critique</a>
    </div>

    <div class="center-column">
        {% if posts %}
            {% for post in posts %}
                {% if post.type == 'ticket' %}
                    {% include 'reviews/ticket_snippet.html' %}
                {% elif post.type == 'review' %}
                    {% include 'reviews/review_snippet.html' %}
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="text-center">Aucun post trouvé.</p>
        {% endif %}
    </div>
</div>
{% endblock %}